<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478909993091-i2f7adev12kv7kk1o0uv9o2f32b03tn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478909993091-i2f7adev12kv7kk1o0uv9o2f32b03tn6</string>
	<key>API_KEY</key>
	<string>AIzaSyBW7KNQ0cfeino6ZZ-oZHjfylaU6QELzNo</string>
	<key>GCM_SENDER_ID</key>
	<string>478909993091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.shakhzod.iApteki</string>
	<key>PROJECT_ID</key>
	<string>iapteki</string>
	<key>STORAGE_BUCKET</key>
	<string>iapteki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478909993091:ios:6490af432fe837d9020bb6</string>
</dict>
</plist>